* {
    box-sizing: border-box;
  }

header {
    text-align: center;
    text-size-adjust: 40px;
}

h1 {
  font-size: 110px;
  font-family: 'Galada', cursive;
  color: rgb(15, 5, 5);
}

body {
  font-family: 'Roboto', sans-serif;
  width: 85%;
  margin: 0 auto;
  font-weight: bolder;
  margin-top: 5%;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  background: rgb(222,222,255);
  background: linear-gradient(0deg, rgba(222,222,255,1) 0%, rgba(213,248,255,1) 50%, rgba(222,222,255,1) 100%);
}

.error-content {
  color: red;
}

.standards {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.bookmark-list-form {
  flex-direction: row;
  justify-content: space-evenly;
}

.bookmark-list-form input, .bookmark-list-form select{
  width: 100%;
  height: 2em;
  box-sizing: border-box;
}

.bookmarks-list {
  width: 100%;
  padding: 0;
}

.filledStar {
  color: #EE5522;
}

.new-bookmark-form {
  display: flex;
  flex-direction: column;
}

.new-bookmark-form > input {
  margin-top: 10px;
  border: 5px solid black;
  box-sizing: border-box;
  height: 2em;
}

.new-bookmark-form > label {
  vertical-align: center;
  text-align: center;
}

.new-bookmark-form .newRating-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 5px solid black;
  box-sizing: border-box;
  margin-top: 10px;
}

.new-bookmark-form .newRating-form #ratingLabel {
  vertical-align: center;
  text-align: center;
  margin: auto;
}

.new-bookmark-form .form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
  height: 4em;
}

.new-bookmark-form .form-buttons input {
  width: 30%;
  height: 50%;
  box-sizing: border-box;
}

.new-bookmark-form textarea {
  border: 5px solid black;
  box-sizing: border-box;
  margin-top: 10px;
  height: 15em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.new-bookmark-form .form-buttons #create {
  background-color: lightblue;
}

.bookmark-list-form > select > option {
  font-size: 0.3em;
}

.bookmark-filter-form div fieldset {
  border-style: none;
  border: none;
  box-shadow: none;
  outline: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    border: 1px solid black;
    font-size: 1em;
}

option {
    font-size: 0.5em;
}

li {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 5px solid rgb(7, 5, 5);
  margin-bottom: 15px;
}

li > h3 {
    margin: 0%;
}

ul li {
  cursor: pointer;
}

/* Star Rating Styling */
.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 5rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}

.open-bookmark {
  padding: 0;
  overflow: scroll;
}

.open-bookmark-title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgray;
}

.open-bookmark .open-bookmark-url {
  display: flex;
  display: row;
  justify-content: space-evenly;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.open-bookmark-url button {
  height: 2em;
  width: 10em;
}

/*.open-bookmark-url span {
  font-size: 1.5em;
  color:blue;
}*/

.open-bookmark .open-bookmark-desc {
  height: 5em;
}

/* Trash Can button styling */
.btn {
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
  border: none;
  font-size: 100px;
}

.btn:hover {
  background-color: red;
}

.open-bookmark-url {
  display: flex;
  justify-content: center;
  align-items: center;
}


.ratingNumStar {
  position: relative;
  width: 50px;
  height: 50px;

}

.ratingNum, .ratingStar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ratingNum {
  z-index: 1;
  font-size: 3rem;
  color: black;
  padding-top: 8px;
}

.ratingStar {
  font-size: 9rem;
  color: #EE5522;
}


@media all and (min-width: 985px) {
  .container {
    max-width: 600px;
  }

  body {
    margin-top: 0;
    padding-top: 0;
    font-size : 25px;
    width: 50%;
  }

  h1 {
    font-size: 80px;
  }

  .bookmark-list-form > select > option {
    font-size: 1em;
  }

  .bookmark-filter-form div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 60px;
  }

  .bookmark-filter-form > div > div {
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
  }

  .bookmark-filter-form div fieldset .star-cb-group *  {
    font-size: 3rem;
  }

  .closed-bookmark {
    flex-direction: row;
    justify-content: space-between;
  }

  .open-bookmark {
    flex-direction: column;
  }

  .open-bookmark-title-bar > div {
    font-size: 1.25em;
  }
  
  .ratingNum {
    font-size: 2rem;
  }
  
  .ratingStar {
    font-size: 6rem;
  }
}
  